@import"media-enquires.scss";
h1, h2, h3, h4, h5, a{
   font-family: Lora !important;
}
p{
  font-family: Source Sans Pro !important;
}

.bookSales, .bookSale{
  text-decoration: none;
list-style-type: none;
text-align: center;
margin: 3px;

}
.bookSales{
  text-align: center;
}

.buttonCenter{
  background: linear-gradient(-237deg, #753121,  #b65833, #e88d34)  !important;
  width:  200px;
  margin-top: 4px;
  font-size: smaller;
  border: 0;
}

// .testTest{
// // background-color: red !important;
// padding: 3em;
// border: fuchsia 3px solid;
// color: greenyellow;
// }

.site-main > *{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

#main.site-main{
  padding-top: 0 !important;
}

// site title color change
.site-title a{
  text-decoration: none;
  // display: inline-block;
}.site-branding a:hover{
  color: darken($color: #DA161F, $amount: 5%) !important;
}

// backgroud colors for menu
.primary-navigation .current-menu-item > a:first-child, .primary-navigation .current_page_item > a:first-child:focus {
  // background-color:green !important;
  // color: white;
   border-radius: 12px;
  text-decoration: double !important;
}:hover{
  text-decoration: none !important;
}:focus{
  background-color: transparent !important;
  // color: green !important;
}
.site-header .has-title-and-headline{
    margin: 0 !important;
    padding: 0 !important;
}

.site-header{
  padding-bottom: 0!important;
}

.primary-navigation a:hover{
  // padding:  0 1em!important;
  color: #DA161F !important;
  border-radius: 12px;
  list-style-type: none;
}
.imageAndText{
  position: relative;
  padding: 0;
}


//  For book title
.front-page-title{
  position: absolute;
  display: block;
  text-align: center;
  // top: 210px;
  width: 50%;
  margin: auto;
  // color: firebrick;
  z-index: 1;
  // Delete this once fixed
  // z-index: 1000;
 
  // margin-left: auto;
 
}
// for book title
.tx{  
  top:7.5em;
  
}

  * {
    margin:0;
    padding:0;
  }

  .pic{
      display: block;
      width: 100%;
      margin: 0 auto;
  }

  
.nf-field-description p{

  font-size: x-large;
}
  
  .fade-in {
    animation: fadeIn ease 4s; 
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;

  }
  @keyframes fadeIn {
    0% {
      opacity:.004;
      // width: 20%;    
    }
    50%{
      // max-width: 40%;
      opacity: .5;
    }

    100% {
      // max-width: 0;
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    50%{
      // max-width: 200%;
    }
    
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      // max-width: 200%;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      // max-width: 200%;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      //  max-width: 200%;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
  animation: fadeOUT ease 9s;
 
  -webkit-animation: fadeOUT ease 9s;
  -moz-animation: fadeOUT ease 9s;
  -o-animation: fadeOUT ease 9s;
  -ms-animation: fadeOUT ease 9s;

}
@keyframes fadeOUT {
  0% {
    opacity:.004;
    // width: 20%;
  }
  50%{
    max-width: 40%;
    opacity: .5;
  }

  100% {
    max-width: 0;
    opacity:1;
  }

}

@-moz-keyframes fadeOUT {
  0% {
    opacity:0;
   
     margin: 0 auto;
  }
  50%{
    // max-width: 200%;
  }
  
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    // max-width: 200%;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    // max-width: 200%;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    //  max-width: 200%;
  }
  100% {
    opacity:1;
}
}

// .book{
//   max-width: 100%;
  
//   padding-top: 10%;
// }

// .bob-slider{
//   // background-color: yellow ;
//   max-width: 100%;
  
//   // padding-top: 7%;
// }

.metaslider.ms-theme-outline .flexslider ol.flex-control-nav:not(.flex-control-thumbs){
  bottom: -2em !important;
}
  // news styles
// ul{
//   padding: 0 !important;
//   border: 0;
// }

// .metaslider.ms-theme-outline .flexslider ol.flex-control-nav:not(.flex-control-thumbs) li a:hover{
//   bottom: -2em !important;
//   // background: #DA161F !important;
  

// .metaslider.ms-theme-outline .flexslider ul.flex-direction-nav li a{

//   width: 30px !important;
//   // color: aqua !important;
//   // background-color: bisque;
// }
// }

.flex-prev, .flex-next{
  // background: transparent !important;
  // border: 2px solid green !important;
  padding: 0 !important;
 border-radius: 20%;
 height: 0;
 max-width: 0;
 width: 0;
//  background-color: red !important;

}

// .flex-prev:active{
//   background-color: cadetblue;
// }


// ::after.flex-prev:active.flex-next:active{
//   background: #571616 !important;
// }

.news-page{
  text-align: center;
  border-bottom: 2px solid ;
}
.wp-rss-template-container a{
  list-style: none;
  font-size:x-large;
  padding-top: 3em; 
//   background-color: transparent;
// }:active:focus:visited:focus-within{
//    color: firebrick;
}

// This is the style for link on news page. when clicked should not have black background
.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button):not(.menu-item .menu-item-type-post_type .menu-item-object-page ):not(.primary-navigation a):not(.site-branding a){
  color: green !important;
  background-color: white !important;
  padding:  0!important;
}


// menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-34

// menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-34
// menu-item menu-item-type-post_type menu-item-object-page menu-item-35
// menu-item menu-item-type-post_type menu-item-object-page menu-item-124

// ABOUT   menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-34

.wp-rss-template-container{
  padding-top: 3em;
  // margin: 0 !important;
  // border-top: solid 4px rgb(139, 139, 145);
}

// 
.feed-item{
  list-style-type: none;

}

.wp-rss-template-container{
  margin: 4em;
} 

.feed-item{
  display: inline-block;
  text-align: center;
  // margin: 0 2em;
  // padding: 2em;
  border-bottom: solid 1px gray;
  width: 100%;
}

.wpra-item-list--default{
  padding-left: 0 !important ;
}


div.wpra-list-template .wpra-item-list a{
  text-decoration: none;
}


li .wpra-item, .feed-item, .thisiscustomcode{
  // background-color: red !important;
  color: hotpink !important;
  // display: inline-flex;
}


