h1, h2, h3, h4{
   font-family: Lora !important;
}
p{
  font-family: Source Sans Pro !important;
}


.bookSales, .bookSale{
  text-decoration: none;
list-style-type: none;
text-align: center;
margin: 3px;

}
.bookSales{
  // margin: 10PX;
 
  text-align: center;
}

.buttonCenter{
  background: linear-gradient(-237deg, #753121,  #b65833, #e88d34)  !important;
  width:  200px;
  margin-top: 4px;
  font-size: smaller;
  border: 0;
}


.site-main > *{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

#main.site-main{
  padding-top: 0 !important;
}



.site-header .has-title-and-headline{
    margin: 0 !important;
    padding: 0 !important;
}

.site-header{
  padding-bottom: 0!important;
}

.imageAndText{
  position: relative;
}


//  For book title
.front-page-title{
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  width: 100%;
  // color: firebrick;
  z-index: 1;
  // Delete this once fixed

}
// for book title
.tx{  
  top:7.5em;
  
}

  * {
    margin:0;
    padding:0;
  }

 

  .pic{
      display: block;
      width: 80%;
      margin: 0 auto;
   
  }

  
.nf-field-description p{

  font-size: x-large;
}
  
  .fade-in {
    animation: fadeIn ease 4s; 
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;

  }
  @keyframes fadeIn {
    0% {
      opacity:.004;
      // width: 20%;    
    }
    50%{
      // max-width: 40%;
      opacity: .5;
    }

    100% {
      // max-width: 0;
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    50%{
      // max-width: 200%;
    }
    
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      // max-width: 200%;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      // max-width: 200%;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
      // width: 20%;
    }
    50%{
      //  max-width: 200%;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
  animation: fadeOUT ease 9s;
 
  -webkit-animation: fadeOUT ease 9s;
  -moz-animation: fadeOUT ease 9s;
  -o-animation: fadeOUT ease 9s;
  -ms-animation: fadeOUT ease 9s;

}
@keyframes fadeOUT {
  0% {
    opacity:.004;
    // width: 20%;
  }
  50%{
    max-width: 40%;
    opacity: .5;
  }

  100% {
    max-width: 0;
    opacity:1;
  }

}

@-moz-keyframes fadeOUT {
  0% {
    opacity:0;
   
     margin: 0 auto;
  }
  50%{
    // max-width: 200%;
  }
  
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    // max-width: 200%;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    // max-width: 200%;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeOUT {
  0% {
    opacity:0;
    // width: 20%;
  }
  50%{
    //  max-width: 200%;
  }
  100% {
    opacity:1;
}
}

.book{
  max-width: 54%;
  right: 1px;
  left: 1px;
}

// news styles
// ul{
//   padding: 0 !important;
//   border: 0;
// }

.news-page{
  text-align: center;
  border-bottom: 2px solid ;
}
.wp-rss-template-container a{
  list-style: none;
  font-size:x-large;
  padding-top: 3em; 
//   background-color: transparent;
// }:active:focus:visited:focus-within{
//    color: firebrick;
}
a{
  // color: aqua !important;
  // background-color: gray !important;
}

.has-background-white .site a:focus{
  color: black !important;
  background-color: white !important;
  padding-top: 0 !important;
  text-decoration: yellow 5px solid !important;
}
// not(.wp-block-button__link):not(.wp-block-file__button)

.wp-rss-template-container{
  padding-top: 3em;
  // margin: 0 !important;
  // border-top: solid 4px rgb(139, 139, 145);
}

// 
.feed-item{
  list-style-type: none;

}

.wp-rss-template-container{
  margin: 4em;
} 

.feed-item{
  display: inline-block;
  text-align: center;
  // margin: 0 2em;
  // padding: 2em;
  border-bottom: solid 1px gray;
  width: 100%;
}

.wpra-item-list--default{
  padding-left: 0 !important ;
}


div.wpra-list-template .wpra-item-list a{
  text-decoration: none;
}
 @import"media-enquires.scss";
