@media screen and (max-width: 527px) {
  .tx {
    font-size: .68em;
  }
  .book {
    width: inherit;
  }
}

@media screen and (min-width: 528px) {
  .tx {
    font-size: 1em;
  }
  .book {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .tx {
    font-size: 1em;
  }
}

@media screen and (min-width: 750px) {
  .tx {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, a {
  font-family: Lora !important;
}

p {
  font-family: Source Sans Pro !important;
}

.bookSales, .bookSale {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin: 3px;
}

.bookSales {
  text-align: center;
}

.buttonCenter {
  background: linear-gradient(-237deg, #753121, #b65833, #e88d34) !important;
  width: 200px;
  margin-top: 4px;
  font-size: smaller;
  border: 0;
}

.site-main > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

#main.site-main {
  padding-top: 0 !important;
}

.site-title a {
  text-decoration: none;
}

.site-branding a:hover {
  color: #c3141c !important;
}

.primary-navigation .current-menu-item > a:first-child, .primary-navigation .current_page_item > a:first-child:focus {
  border-radius: 12px;
  -webkit-text-decoration: double !important;
          text-decoration: double !important;
}

:hover {
  text-decoration: none !important;
}

:focus {
  background-color: transparent !important;
}

.site-header .has-title-and-headline {
  margin: 0 !important;
  padding: 0 !important;
}

.site-header {
  padding-bottom: 0 !important;
}

.primary-navigation a:hover {
  color: #DA161F !important;
  border-radius: 12px;
  list-style-type: none;
}

.imageAndText {
  position: relative;
  padding: 0;
}

.front-page-title {
  position: absolute;
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  z-index: 1;
}

.tx {
  top: 7.5em;
}

* {
  margin: 0;
  padding: 0;
}

.pic {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.book-style {
  width: 50%;
}

.nf-field-description p {
  font-size: x-large;
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: .004;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOUT ease 9s;
  -webkit-animation: fadeOUT ease 9s;
  -moz-animation: fadeOUT ease 9s;
  -o-animation: fadeOUT ease 9s;
  -ms-animation: fadeOUT ease 9s;
}

@keyframes fadeOUT {
  0% {
    opacity: .004;
  }
  50% {
    max-width: 40%;
    opacity: .5;
  }
  100% {
    max-width: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOUT {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

.metaslider.ms-theme-outline .flexslider ol.flex-control-nav:not(.flex-control-thumbs) {
  bottom: -2em !important;
}

.flex-prev, .flex-next {
  padding: 0 !important;
  border-radius: 20%;
  height: 0;
  max-width: 0;
  width: 0;
}

.news-page {
  text-align: center;
  border-bottom: 2px solid;
}

.wp-rss-template-container a {
  list-style: none;
  font-size: x-large;
  padding-top: 3em;
}

.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button):not(.menu-item .menu-item-type-post_type .menu-item-object-page):not(.primary-navigation a):not(.site-branding a) {
  color: green !important;
  background-color: white !important;
  padding: 0 !important;
}

.wp-rss-template-container {
  padding-top: 3em;
}

.feed-item {
  list-style-type: none;
}

.wp-rss-template-container {
  margin: 4em;
}

.feed-item {
  display: inline-block;
  text-align: center;
  border-bottom: solid 1px gray;
  width: 100%;
}

.wpra-item-list--default {
  padding-left: 0 !important;
}

div.wpra-list-template .wpra-item-list a {
  text-decoration: none;
}

li .wpra-item, .feed-item, .thisiscustomcode {
  color: hotpink !important;
}
/*# sourceMappingURL=style.css.map */